version: '2'
services:
  nginx:
    build: ./docker/nginx
    ports:
      - "80:80"
    volumes:
      - ./:/app

  php:
    build: ./docker/php-fpm
    volumes:
      - ./:/app
    working_dir: /app

  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: dev